.toolBar{
    height: 100%;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    font-family: 'Montserrat', serif;
    /*margin-bottom: 20px;*/
    align-items: center;
    /*margin-left: 20px;*/
}

.toolIconContainer{
    display: none;
    height: 32px;
    width: 32px;
    /*background-color: red;*/
    background: url("../../../images/icons/menu.png") left/contain no-repeat;
    cursor: pointer;
    transform: rotate(180deg);
}

@media (max-width: 1300px) {
    .toolBar{
        display: none;
    }
    .toolIconContainer{
        display: block;
    }
}

