.logBtn{
    margin-right: 20px;
    width: 80px;
    height: 40px;
    border: 1px solid #252525;
    background-color: #fff;
    border-radius: 12px;
    color: #252525;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    transition: all 0.4s ease;
}

/*.logBtn:hover{*/
/*    border: 1px solid white;*/
/*    background: none;*/
/*    color: white;*/
/*}*/