.pagesBlock{
    height: 60px;
    width: auto;
    background-color: #252525;
    border-radius: 50px;
    /*margin-top: 100px;*/
    display: flex;
    justify-content: start;
    align-items: center;
}

.pagesInitialContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.pageBtn{
    height: 48px;
    width: 48px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.pageBtn:hover{
    transform: scale(1.05);
}

.pageBtn:active{
    transform: scale(1.2);
}

.leftPageBtn{
    height: 18px;
    width: 18px;
    background: url("../../images/icons/filterIcons/right-arrow.png") 50% 50%/cover no-repeat;
    /*margin-right: 3px;*/
    transform: rotate(180deg);
}

.rightPageBtn{
    height: 18px;
    width: 18px;
    background: url("../../images/icons/filterIcons/right-arrow.png") 50% 50%/cover no-repeat;
    /*margin-left: 3px;*/
}