.searchBar {
    border:2px solid #b87333;
    /*margin-top: 68px;*/
    height: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    padding-left: 18px;
    font-size: 14px;
    z-index: 3000;
    max-width: 1400px;
    margin: auto;
    transition: all 0.2s ease;
    position: relative;
}

.searchBar.active{
    height: 40px;
    opacity: 1;
    visibility: visible;
}

.searchInput {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.searchIcon {
    /*background-color: orange;*/
    height: 28px;
    width: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    /*right: 69px;*/
    right: 18px;
    top: 50%;
    /*background: url("../../../images/icons/magnifying glass.png") center/contain no-repeat;*/
    transform: translateY(-50%);
    transition: all 0.2s ease;
    cursor: pointer;
    line-height: 28px;
}

.searchBar.active .searchIcon{

    opacity: 1;
    visibility: visible;
}

/*input::-webkit-input-placeholder {*/
/*    color: #838383;*/
/*    font-family: Montserrat, sans-serif;*/
/*    font-size: 16px;*/
/*}*/