header{
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 30px;
    background-color: #fff;
}

.header {
    width: 100%;
    min-height: 68px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.barContainer {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
}

.barContent {
    width: 100%;
    display: flex;
    align-items: center;
}

/*dhsakjdhlaksjd*/




