header {
    padding: 0 30px;
    width: 100%;
    height: 68px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
    /*justify-content: center;*/
    /*position: relative;*/
    /*border: 1px solid red;*/
}

.barContainer {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
}

.barContent {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
}






