*{
    font-family: Montserrat, sans-serif;
}

.adminPage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.adminContainer{
    max-width: 1400px;
    width: 100%;
    height: auto;
}

.addTitle{
    font-size: 22px;
    color: white;
    margin: 35px 0 15px 0;
}

.adminTitle{
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}

.add{
    display: flex;
}

.alert{
    font-size: 20px;
    color: #E73535;
}

.createItemSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}