.sizeBtn{
    height: 60px;
    width: 60px;
    background-color: #838383;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-family: 'Montserrat', 'sans-serif';
}

.active{
    background-color: #252525;
}