.DevicePhotoSection{
    width: 800px;
    height: 600px;
    display: flex;
}

.photoList{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainPhoto{
    width: auto;
    max-width: 550px;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}



