/*.modal{*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    background-color: rgba(0,0,0,0.2);*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 1;*/
/*    transition: opacity 0.4s;*/
/*    pointer-events: none;*/
/*    font-family: 'Montserrat', 'sans-serif';*/
/*}*/

.filterList{
    display: flex;
    width: 100%;
    height: 100%;
}

.filterModal{
    height: auto;
    width: 400px;
    background-color: #252525;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.4s;
}

.firstSection{
    width: 400px;
}

.secondSection{
    margin-top: 60px;
    width: 400px;
}

.thirdSection{
    margin-top: 60px;
    width: 400px;
}

.firstClicked{
    width: 800px;
}

.secondClicked{
    width: 1200px;
}

.filterBtns{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 90px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.filterModal.active{
    height: 510px;
}

.modal.active{
    pointer-events: all;
    opacity: 1;
}

