.searchIconContainer {
    height: 28px;
    width: 28px;
    background: url("../../../../images/icons/magnifying glass.png") center/contain no-repeat;
    cursor: pointer;
    margin-right: 5px;
}

.searchBar{
    width: 100%;
    /*position: absolute;*/
    /*top: 68px;*/
    /*left: 0;*/
    border: 2px solid #b87333;
    height: 68px;
}