.userName{
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    height: 54px;
    /*font-size: 25px;*/
    color: #CAB362;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
}

.userIcon{
    width: 24px;
    height: 36px;
    background: url("../../images/icons/golden_person.png") 50% 50% / contain no-repeat;
}
.userBlock{
    width: 10%;
    height: 54px;
}