.item {
    width: 320px;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.itemImage {
    width: 100%;
    background: url("../../../images/LoadingGif.svg") center/contain no-repeat;
    height: 165px;
}

.itemDescription {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.itemDescription>div {
    height: 10px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: lightgray;
    animation: textAnimation 1s linear infinite alternate;
}

@keyframes textAnimation {
    from {
        background-color: lightgray;
    }
    to{
        background-color: darkgray;
    }
}