.createModal{
    background-color: #252525;
    border-radius: 35px;
    width: 450px;
    height: min-content;
    padding: 30px;
}

.createItemTitle{
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.createModalText{
    font-size: 20px;
    color: white;
}

.textAreaBlock{
    width: 100%;
    height: 92px;
    padding: 10px 14px 10px 18px;
    border-radius: 25px;
    border: 2px solid white;
    margin-bottom: 15px;
}

.textArea{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}

.photoBlock{
    display: flex;
    justify-content: space-evenly;
}

/*#file-upload-button{*/
/*    opacity: 0;*/
/*}*/
input[type='file']{
    display: none;
}

/*.genderBtn{*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    font-family: Montserrat, sans-serif;*/
/*    font-weight: 600;*/
/*    height: 46px;*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    */
/*}*/

::placeholder{
    color: #838383;
}

/*::-webkit-scrollbar{*/
/*    width: 6px;*/
/*}*/

/*::-webkit-scrollbar-track{*/
/*    background: none;*/
/*}*/

/*::-webkit-scrollbar-thumb{*/
/*    background-color: #fff;*/
/*    border-radius: 8px;*/
/*    visibility: hidden;*/
/*}*/

/*.textAreaBlock:hover ::-webkit-scrollbar-thumb{*/
/*    visibility: visible;*/
/*}*/


