.toolBtn {
    height: 100%;
    width: min-content;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
    margin: auto 10px;
    font-family: 'Montserrat', 'sans-serif';
    user-select: none;
}

.toolBtn:after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: #000;
    transition: all 0.3s ease;
}

.toolBtn:hover:after{
    width: 100%;
    left: 0;
}